<!DOCTYPE html>
<html >
	<head>
		<meta charset="UTF-8">
		<title>Demo pdfjs-box</title>
	</head>
	<body ng-app="app" ng-controller="AppCtrl as ctrl">
		<div class="container-fluid">
			<div class="page-header">
				<h1>PDFJS-BOX Demo</h1>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="list-group">
						<a ng-repeat="doc in ctrl.documents track by $index" href class="list-group-item" ng-class="{'active':ctrl.selectedDocument === doc}"
							ng-bind="::ctrl.labelSupplier(doc, ctrl.globalData, $index) || doc.label || doc.name || ('Document PDF ' + $index)"
							ng-click="ctrl.selectedDocument = doc;"></a>
					</div>
				</div>
			</div>
			<pdf-document ng-document="ctrl.selectedDocument" ng-items="ctrl.items" 
							  url-supplier="ctrl.urlSupplier({'document':doc, 'data':ctrl.globalData, 'index':$index})" 
							  ng-data="ctrl.globalData"></pdf-document>
			<div class="row">
				<div class="col-lg-12">
					<pdf-thumbnails class="pdf-thumbnails-horizontal"
										 ng-height="100" 
										 ng-items="ctrl.items2"
										 removable="true"
										 allow-drag="true" allow-drop="true"
										 selected-item="ctrl.selectedItem"
										 placeholder="Glissez, déposez puis ordonnez les pages du document"></pdf-thumbnails>
					<pdf-thumbnails class="pdf-thumbnails-horizontal" 
										 ng-height="100" 
										 ng-items="ctrl.items"
										 selectable="false" removable="false"
										 allow-drag="true" allow-drop="false"
										 selected-item="ctrl.selectedItem"
										 placeholder="Sélectionnez un document PDF"></pdf-thumbnails>
				</div>
			</div>
			<div style="background-color: #ddd;padding:10px 0px;height: 620px;">
				<pdf-view ng-item="ctrl.selectedItem" ng-scale="ctrl.scale" default-scale="fitV">
					<pdf-commands class="lg" ng-item="ctrl.selectedItem" ng-scale="ctrl.scale"></pdf-commands>
				</pdf-view>
			</div>
		</div>
	</body>
</html>
