<!DOCTYPE html>
<html >
	<head>
		<meta charset="UTF-8">
		<link rel="icon" href="favicon.ico" type="image/x-icon"> 
		<title>Demo pdfjs-box</title>
	</head>
	<body ng-app="app" ng-controller="AppCtrl as ctrl">
		<ng-include src="'../navbar.html'"></ng-include>
		<div class="container-fluid">
			<div class="page-header">
				<h1>PDFJS-BOX Demo</h1>
				<a href="https://www.npmjs.com/package/pdfjs-box"><img src="https://badge.fury.io/js/pdfjs-box.svg" alt="npm version" height="18"></a>
				<a href="https://travis-ci.org/hhdevelopment/pdfjs-box"><img src="https://travis-ci.org/hhdevelopment/pdfjs-box.svg?branch=master" alt="build status" height="18"></a>
			</div>
			<pdf-document pdf="ctrl.selectedDocument.url" ng-items="ctrl.items"></pdf-document>
			<div class="row">
				<div class="col-xs-5">
					<div class="list-group">
						<a ng-repeat="doc in ctrl.documents track by $index" href class="list-group-item" 
							ng-class="{'active':ctrl.selectedDocument === doc}"
							ng-click="ctrl.selectedDocument = doc;">
							<span class="glyphicon glyphicon-file"></span>
							<span ng-bind="doc.label + '(' + $index + ')'"></span></a>
					</div>
					<div style="height:136px">
						<button type="button" class="btn btn-primary save-btn pull-right" title="Sauvegarder comme nouveau PDF"
								  ng-disabled="!ctrl.items2.length"
								  ng-click="ctrl.onSave(ctrl.items2)">
							<span class="glyphicon glyphicon-floppy-disk"></span>
						</button>
						<pdf-thumbnails class="pdf-thumbnails-horizontal with-btn" style="height:136px;"
											 ng-items="ctrl.items2"
											 removable="true"
											 allow-drag="true" allow-drop="true"
											 selected-item="ctrl.selectedItem"
											 placeholder="Glissez, déposez puis ordonnez les pages du document">
						</pdf-thumbnails>
					</div>
				</div>
				<div class="col-xs-7">
					<div style="background-color: #ddd;padding:0px 0px;height: 620px;overflow: auto">
						<pdf-view id="myPdfViewer" ng-quality="ctrl.quality" ng-item="ctrl.selectedItem" ng-scale="ctrl.scale" >
							<pdf-docscale ng-item="ctrl.selectedItem" pdfview-selector="#myPdfViewer" doc-scale="ctrl.docscale" ng-scale="ctrl.scale"></pdf-docscale>
							<pdf-thumbnails class="pdf-thumbnails-horizontal" style="height:150px"
												 ng-items="ctrl.items"
												 reverse-scroll="false"
												 removable="false"
												 allow-drag="true" allow-drop="false"
												 selected-item="ctrl.selectedItem"
												 dblclick-target="ctrl.items2"
												 placeholder="Sélectionnez un document PDF">
							</pdf-thumbnails>
							<pdf-commands ng-quality="ctrl.quality" class="xl" ng-item="ctrl.selectedItem" ng-scale="ctrl.scale" doc-scale="ctrl.docscale" allow-print="true" allow-refresh="true"></pdf-commands>
						</pdf-view>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
