<nav aria-label="...">
	<ul class="pager">
		<li>
			<a href aria-label="Previous" ng-disabled="ngIndex <= 0" ng-click="$event.stopPropagation();ngIndex = ngIndex ? ngIndex - 1 : ngIndex;">
				<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
			</a>
		</li>
		<li><a disabled="true" class="info">{{ngIndex + 1}}/{{ngTotal}}</a></li>
		<li>
			<a href aria-label="Next" ng-disabled="ngIndex + 1 >= ngTotal" ng-click="$event.stopPropagation();ngIndex = ngIndex + 1 < ngTotal ? ngIndex + 1 : ngIndex;">
				<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
			</a>
		</li>
		<li>
			<a href aria-label="Rotate" ng-click="$event.stopPropagation();ngRotate = (ngRotate + 90) % 360;">
				<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
			</a>
		</li>
		<li>
			<a href aria-label="ZoomMoins" ng-click="$event.stopPropagation();ngScale = ngScale * 0.9;">
				<span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span>
			</a>
		</li>
		<li>
			<a href aria-label="ZoomPlus"  ng-click="$event.stopPropagation();ngScale = ngScale / 0.9;">
				<span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
			</a>
		</li>
		<li>
			<a href aria-label="Download"  ng-click="$event.stopPropagation()">
				<span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
			</a>
		</li>
		<li>
			<a href aria-label="Print"  ng-click="$event.stopPropagation()">
				<span class="glyphicon glyphicon-print" aria-hidden="true"></span>
			</a>
		</li>
	</ul>
</nav>
